.users {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.user {
    font-family: 'Raleway', sans-serif;
    flex-basis: 40%;
    border: 1px solid #B5BAD0;
    background-color: #DDDFE9;
    margin: 15px;
    padding: 15px;
    color: #53555F;
    line-height: 25px;
}

.user img {
    border: 1px solid #B5BAD0;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    color: #47736D;
}

.loginData {
    margin-top: 10px;
    text-align: left;
    font-size: 0.9em;
    line-height: 18px;
    margin-top: 10px;
}